.pillars {
  text-align: center;
  padding: 40px 20px; /* agrega padding para que se vea mejor */
 background: linear-gradient(
    to right,
    #df7034 50%,  /* Naranja #ffa500 con 80% opacidad = #cc */
    #5baa43  50%    /* Verde #008000 con 80% opacidad = #cc */
);
  color: white; /* texto blanco para contraste */
}

.pillars h2 {
  margin-bottom: 20px;
}

.pillars-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pillar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: white; /* asegura que los textos también sean visibles */
}

.pillar-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 8px;
}
